@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Mono&family=Roboto+Mono&display=swap');

*::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #aad2ff;
  scrollbar-width: thin;
  border: 1px solid rgb(184, 184, 184, 0.4);
}

*::-webkit-scrollbar {
  width: 12px;
  border-radius: 50px;
  background: rgba(235, 235, 235, 0.867);
}

*::-webkit-scrollbar-track {
  border-radius: 50px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Roboto Mono', 'Roboto', 'Open Sans', monospace, sans-serif;
}
