.post-item:hover {
  cursor: pointer;
}

.post-item {
  font-size: 14px;
}

.post-header {
  background: white;
  font-size: 12px;
  padding-left: 1rem;
}

.post-type {
  font-size: small;
  text-align: right;
  border-radius: 10px;
  padding-left: 0.25vw;
  padding-right: 0.25vw;
  border: 0.2vh solid #e6e6e6;
}

.post-footer {
  background: white;
}
